@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
}

header
{
background-color: aqua;
height: 25vh;
position: fixed;
}

nav{
background-color: blue;
}
main{
background-color: green;
}
section{
    background-color: yellow;
}

footer{
    background-color: red;
}